/* .main_menu {
padding-right: 200px;

} */

.gallery {
    height: 800px;
    width: 900px;
    padding-left: 100px;
}


.carousel-control-next {
    right: 350px;
    background-color: red;
    bottom: -20px !important;
    top: 500px !important;
    
  }

  .carousel-control-prev {
    left: 350px;
    background-color: green;  
    bottom: -20px !important;
    top: 500px !important;
  }