.container {
  padding: 0 2rem;
  display: inline-block;
  position: absolute;
  width: 100%;
  display: inline-block;
}

.items_container {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.navbar_container {
  display: flex;
  justify-content: center;
}

.carousel_container {
  display: flex;
  justify-content: center;
  flex-grow: 4;
  align-items: center;
}

.carousel {
  justify-content: center;
  max-width: 1000px;
  max-height: 1000px;
  display: flex;
}
