.header {
  padding: 30px 0 0 22px;
  font-size: 30px !important;
  text-align: center;
  /* margin-left: 100px; */
}

.header h1 {
  font-size: 15px !important;

}

.footer {
  padding: 30px 0 0 200px;
  /* border: solid 5px red; */
  text-align: center
}

.container {
  display: inline-block;
  width: 100%;
  /* border: solid 5px red */
}

.items_container {
  /* min-height: 100vh; */
  flex: 1;
  display: flex;
  flex-direction: row;
  /* border: solid 5px blue */
}

.navbar_container {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  /* border: solid 5px yellow */
}

.carousel_container {
  display: flex;
  justify-content: center;
  flex-grow: 4;
  padding: 55px 130px 0 0px;
  /* border: solid 5px green */
}

.carousel {
  justify-content: center;
  max-width: 1000px;
  max-height: 1000px;
  margin: auto;
  /* border: solid 5px gray */
}







@media (max-width:380px)    {
  .navbar_container {display: none;}
  .footer {padding: 0 0 0 0 !important;
          position: fixed;
          bottom: 0;
          margin-right: 60px;}
  .h5 { font-size: 5px;}
  .mb-3 { position: fixed;
        right: 0; }
  .carousel_container{
    padding: 0 0 0 0;
  }
  .header {padding-top: 50px; }
}


@media (max-width:481px) {
  .navbar_container {display: none;}
  .footer {padding: 0 0 0 0 !important;
          position: fixed;
          bottom: 0;
          margin-right: 60px;}
  .h5 { font-size: 5px;}
  .mb-3 { position: fixed;
        right: 0; }
  .carousel_container{
    padding: 0 0 0 0;
  }
  .header {padding-top: 50px}
}

@media (max-width:661px) {
  .navbar_container {display: none;}
  .footer {padding: 0 0 0 0 !important;
          position: fixed;
          bottom: 0;
          margin-right: 60px;}
  .h5 { font-size: 5px;}
  .mb-3 { position: fixed;
        right: 0; }
  .carousel_container{
    padding: 0 0 0 0;
  }
  .header {padding-top: 50px}
} 
