.menu {
    width: 350px !important;
    margin-top: 50px;
    list-style-type: none;

}

#ul {
    list-style-type: none;
    list-style: none !important;
}

.bg-light {
   opacity: 0 !important;
}




